@import url(http://codebase.dev/normalize/normalize.css);

$icon-size: 40px;

html {
	min-heigth: 100%;
	background-color: #ccc;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	
	padding: 10px 15px;

	background-color: #fff;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
header:after {
	clear: both;
	content: '';
	display: table;
}
header .title {
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	font-weight: normal;
	
	color: gray;
}
header .links {
	margin-top: 10px;
	text-align: center;
	font-size: 0;
}
header .links a {
	display: inline-block;
	margin-left: 5px;
}
header .links a:focus {
	outline: none;
}

.items {
	margin-top: 80px;
	padding: 0;
}
.items:after {
	content: '';
	display: table;
	clear: both;
}

.items .column {
	list-style: none;
	padding: 0 10px;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

@for $i from 2 through 16 {
	.items.col-#{$i} .column {
		width: 1 / $i * 100%;
	}
}

.item {
	margin: 0;
	margin-bottom: 20px;
	padding: 5px;
	overflow: hidden;
	
	font-size: 0.8em;
	
	border-radius: 5px;
	background: #fff;
	border: 1px solid #aaa;
	color: #808080;
}
.item {
	.title {
		text-align: center;
		font-family: serif;
	}
	.featured-image {
		width: 100%;
	}
	&.small .featured-image {
		height: 100px;
		background-color: #ebb062;
	}
	&.medium .featured-image {
		height: 200px;
		background-color: #fcd951;
	}
	&.large .featured-image {
		height: 300px;
		background-color: #d2f05f;
	}
	.abstract {
		text-align: center;
		font-style: italic;
		color: #606060;
	}
	.tags {
		margin-bottom: 0;
		font-family: monospace;
		text-transform: uppercase;
		font-size: 1.2em;
		color: #606060;
	}
	.tags span {
		margin-right: 5px;
	}
	.tags span:before {
		content: '#';
	}
}
@media screen and (max-width: 400px) {
	.item .abstract {
		font-size: 1.4em;
	}
	.item .tags {
		font-size: 1.4em;
	}
}

@media screen and (min-width: 620px) {
	header .title {
		float: left;
		height: $icon-size;
		line-height: $icon-size;
		font-size: 1.5em;
	}
	header .links {
		float: right;
		margin: 0;
	}
}

/*
 * Icon system
 */
 .icon {
	width: $icon-size;
	height: $icon-size;
	//fill?
 }
 .icon.twitter {
	fill: #7FFFD4;
 }
 .icon.github {
	fill: #FF7F50;
}